<!-- Client -->
<section class="client-section" id="{{ site.data.sitetext.client.section | default: "client" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.client.title | default: "Client Story" }}</h2>
          {% if site.data.sitetext.client.text %}
    {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <a href="https://apps.apple.com/us/app/how-leaders-lead/id6463166441">
            <img class="client-image text-center" src="/assets/img/HLL.png" width="100px">  
            </a>
        </div>
        <div class="col-lg-8 mx-auto">
          <div class="large text-muted">{{ site.data.sitetext.client.body | markdownify }}</div>
      </div>
      </div>
    </div>
  </section>
  <!-- End About -->