<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-20VNS9DY1M"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-20VNS9DY1M');
  </script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Black Bar Labs</title>

  <!-- Bootstrap Core CSS -->
  <link href="{{ "/assets/css/vendor/bootstrap.min.css" | relative_url }}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{ "/assets/css/vendor/font-awesome.min.css" | relative_url }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Inter+Tight:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{{ "assets/css/vendor/simple-line-icons.css" | relative_url }}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ "assets/css/style.css" | relative_url }}" rel="stylesheet">
  <link href="{{ "assets/css/style-posts.css" | relative_url }}" rel="stylesheet">
    
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=7">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=7">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=7">
  <link rel="manifest" href="/site.webmanifest?v=7">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=7" color="#444444">
  <link rel="shortcut icon" href="/favicon.ico?v=7">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
</head>