<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top">
    <div class="masthead d-flex">
      <div class="container text-center my-auto">  
        {% include logo.html %}
        {% include about.html %}
        {% include footer.html %}
      </div>
      <div class="overlay"></div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ "/assets/js/vendor/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/vendor/bootstrap.bundle.min.js" | relative_url }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/assets/js/vendor/jquery.easing.min.js" | relative_url }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
